﻿@model CaregiversVM

@section navbar_Admin {
    <section class="navbar_Admin">
        @Html.Partial("_Navbar_Admin")
    </section>
}

<link rel="stylesheet" href="~/css/table4.css" />
<link rel="stylesheet" href="~/css/button_caregiver1.css" />

<div class="content_flex">
    @if (Model.Caregivers.Any(a => a.AddDate.Year == DateTime.Now.Year & a.AddDate.Month == DateTime.Now.Month & a.AddDate.Day == DateTime.Now.Day & a.AddDate.Hour == DateTime.Now.Hour & a.AddDate.Minute == DateTime.Now.Minute & a.AddDate.Second == DateTime.Now.Second))
    {
        <div class="alert alert-success" role="alert">
            <h5 class="alert-heading">Poprawnie utworzono opiekuna!</h5>
        </div>
    }

    @if (Model.Caregivers.Any(a => a.UpdateDate.Year == DateTime.Now.Year & a.UpdateDate.Month == DateTime.Now.Month & a.UpdateDate.Day == DateTime.Now.Day & a.UpdateDate.Hour == DateTime.Now.Hour & a.UpdateDate.Minute == DateTime.Now.Minute & a.UpdateDate.Second == DateTime.Now.Second))
    {
        <div class="alert alert-success" role="alert">
            <h5 class="alert-heading">Udana edycja opiekuna!</h5>
        </div>
    }

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Zarządzaj opiekunami</h4>
                </div>
                <div class="col-sm-6">
                    <a class="btn add_btn" asp-controller="Admin" asp-action="CreateCaregiver">
                        <i class="material-icons">&#xE147;</i>
                        <span>Dodaj opiekuna</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Np</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Akcja</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                    foreach (var item in Model.Caregivers)
                    {
                        i++;
                        var delete = "DeleteModal" + @i.ToString();
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                <form asp-action="Delete" asp-route-userId="@item.UserId" method="post">
                                    <a asp-action="UpdateCaregiver" asp-route-userId="@item.UserId" class="edit"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Edytuj">&#xE254;</i></a>
                                    <a href="#@delete" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Usuń">&#xE872;</i></a>
                                    <div id="@delete" class="modal fade" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Usunięcie opiekuna</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Czy jesteś pewien, że chcesz usunąć opiekuna <strong>@item.FirstName</strong>?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="form-group btn-group">
                                                        <button asp-action="Delete" asp-route-userId="@item.UserId" type="submit" class="btn delete2_btn">Usuń</button>
                                                        <input type="button" class="btn cancel2_btn" data-dismiss="modal" value="Anuluj">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Pokazano <b>1</b> z <b>@i</b> elementów</div>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Poprzedni</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Następny</a></li>
            </ul>
        </div>
    </div>
</div>

