﻿@model CreatePatientVM
@section navbar_Admin {
    <section class="navbar_Admin">
        @Html.Partial("_Navbar_Admin")
    </section>
}

<link rel="stylesheet" href="~/css/create_user9.css" />

<div class="content_flex">
    <div class="card">
        <div class="card-header">
            <h3><strong>Utwórz pacjenta</strong></h3>
            <button onclick="window.location.href='Patients'" type="button" class="close">&times;</button>
        </div>
        <div class="card-body">
            <form asp-action="CreatePatient" asp-controller="Admin" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" id="summary" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <label class="person-label">Dane osobowe</label>
                <div class="card-footer">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input type="text" asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input type="text" asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date_of_birth" class="control-label"></label>
                        <input type="date" asp-for="Date_of_birth" class="form-control">
                        <span asp-validation-for="Date_of_birth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input type="number" asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input type="email" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RoomNumber" class="control-label"></label>
                    <input type="number" asp-for="RoomNumber" class="form-control">
                    <span asp-validation-for="RoomNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input type="text" asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group btn-group">
                    <input type="submit" value="Utwórz" class="btn create_btn">
                    <input type="reset" value="Wyczyść" class="btn cancel_btn">
                </div>
            </form>
        </div>
    </div>
</div>
