﻿@model CreateVM
@section navbar_Admin {
    <section class="navbar_Admin">
        @Html.Partial("_Navbar_Admin")
    </section>
}

<link rel="stylesheet" href="~/css/create_user9.css" />

<div class="content_flex">
    <div class="card">
        <div class="card-header">
            <h3><strong>Utwórz użytkownika</strong></h3>
        </div>
        <div class="card-body">
            <form asp-action="Create" asp-controller="Admin" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" id="summary" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Roles" class="control-label"></label>
                    <select class="form-control" asp-for="Roles" asp-items="Html.GetEnumSelectList(typeof(Role))">
                        <option selected="selected" value="">Wybierz</option>
                    </select>
                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>
                <div class="form-group btn-group">
                    <input type="submit" value="Utwórz" class="btn create_btn">
                    <input type="reset" value="Wyczyść" class="btn cancel_btn">
                </div>
            </form>
        </div>
    </div>
</div>
