﻿

@section navbar_Admin {
    <section class="navbar_Admin">
        @Html.Partial("_Navbar_Admin")
    </section>
}

<link rel="stylesheet" href="~/css/index_admin1.css" />

<div class="content_flex">
    <img src="~/images/Admin_dashboard.jpg" class="img-fluid"/>
</div>


