﻿
<link rel="stylesheet" href="~/css/index2.css" />

<div class="content_flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12" id="header"><h2><strong>Brak dostępu!</strong></h2></div>
        </div>
    </div>
    <div class="back links">
        <strong></strong><a asp-area="" asp-controller="Account" asp-action="Login">OK</a>
    </div>
</div>