﻿@model LoginVM

    <link rel="stylesheet" href="~/css/login.css" />

<div class="content_flex">
    <div class="card">
        <div class="card-header">
            <h3><strong>Zaloguj się</strong></h3>
        </div>
        <div class="card-body">
            <form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal" role="form">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div asp-validation-summary="ModelOnly" id="summary" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Nazwa użytkownika">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Hasło">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="row align-items-center remember">
                    <input asp-for="RememberMe">Zapamiętaj mnie
                </div>
                <div class="form-group">
                    <input type="submit" value="Zaloguj" class="btn login_btn">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                <strong>Nie masz konta?</strong><a asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
            </div>
            <div class="d-flex justify-content-center links">
                <a href="Account/Remember">Zapomniałeś hasła?</a>
            </div>
        </div>
    </div>
</div>
