﻿@model RegisterVM

    <link rel="stylesheet" href="~/css/register2.css" />

<div class="content_flex">
    <div class="card">
        <div class="card-header">
            <h3><strong>Zarejestruj się</strong></h3>
        </div>
        <div class="card-body">
            <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" id="summary" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Nazwa użytkownika">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Numer telefonu">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Hasło">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Powtórz hasło">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="row align-items-center remember">
                    <input asp-for="Consent">Zgoda na przetwarzanie danych
                    <span asp-validation-for="Consent" id="checkbox_style" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zarejestruj" class="btn login_btn">
                </div>
            </form>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    <strong>Masz już konto?</strong><a asp-area="" asp-controller="Account" asp-action="Login">Zaloguj się</a>
                </div>
            </div>
        </div>
    </div>
</div>
