﻿<link rel="stylesheet" href="~/css/index2.css" />

<div class="content_flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12" id="header"><h2><strong>Zapomniałeś hasła?</strong></h2></div>
        </div>
        <div class="row">
            <div class="col col-md-10" id="subheader">Wygenerujemy nowe, jeżeli potwierdzisz swoją tożsamość dzwoniąc pod numer <strong>32 243 45 13</strong>.</div>
        </div>
    </div>
    <div class="back links">
        <strong></strong><a asp-area="" asp-controller="Account" asp-action="Login">Powrót</a>
    </div>
</div>
