﻿.edit_btn {
    color: #cc6e36;
    background-color: #f6f6f7;
    border-color: #cc6e36;
}

    .edit_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }

.delete_btn {
    color: #f6f6f7;
    background-color: #c27e55;
}

    .delete_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }

.create_user_btn {
    margin-top: 20px;
    color: #cc6e36;
    background-color: #f6f6f7;
    border-color: #cc6e36;
    font-size: 17px;
}

    .create_user_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }