﻿.content_flex {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

#summary ul li {
    list-style-type: none;
    text-align: center;
    position: relative;
    right: 20px;
    font-size: 17px;
}

.text-danger {
    color: #cc6e36 !important;
    font-size: 15px;
}

.close {
    font-size: 2rem;
}

.card {
    width: 70vh;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #f6f6f7;
    border: 0.5px solid rgba(0,0,0,.125);
}

.card-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(226, 225, 225, 0.5);
    padding-right:30px;
    padding-left:30px;
    padding-top: 20px;
}

    .card-header h3 {
        font-size: 28px;
    }

.card-body {
    padding: 30px;
}

.person-label {
    color: #c27e55;
    margin-bottom:0;
}

.card-footer {
    border-top: none;
    background-color: transparent;
    border-top: 1px solid #c27e55;
}

hr {
    border-top: 1px solid #c27e55;
    margin-top: 0;
    margin-bottom: .75rem;
}

.form-control {
    height: 38px;
    font-size: 15px;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    font-size: 17px;
}

.btn-group {
    display: flex;
    align-items:end;
}

.create_btn {
    margin-top: 20px;
    color: #cc6e36;
    background-color: #f6f6f7;
    border-color: #cc6e36;
    width: 100%;
    font-size: 17px;
}

    .create_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }

.cancel_btn {
    margin-top: 20px;
    color: #f6f6f7;
    background-color: #c27e55;
    width: 100%;
    font-size: 17px;
}

    .cancel_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }
