﻿body {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.8) 100%), url(../images/flock-of-birds-917494.jpg);
}

.content_flex {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom:80px;
}

.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

.text-muted {
    color: rgba(194, 127, 93, 0.6) !important;
}

.border-top {
    border-top: 1px solid rgba(194, 127, 93, 0.5) !important;
}

#header {
    margin-bottom: 10px;
    margin-top: 100px;
}

.col {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 20px;
}

.links {
    color: #b9b7b6;
    font-size: 23px;
}

    .links a {
        color: #cc6e36;
    }