﻿.content_flex {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#inf {
    font-size: 1.1rem;
}

#header {
    margin-bottom: 10px;
    margin-top: 50px;
}

#subheader {
    color: #c27e55;
    margin-bottom: 10px;
    margin-top: 10px;
}

.col {
    padding-top: 1px;
    padding-bottom: 1px;
}

