﻿.content_flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#summary ul li {
    list-style-type: none;
    text-align: center;
    position: relative;
    right: 20px;
    font-size: 17px;
}

.text-danger {
    color: #cc6e36 !important;
    font-size: 15px;
}

.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 380px;
    background-color: rgba(91, 81, 77, 0.88) !important;
    border-color: rgba(91, 81, 77, 0.2) !important;
}

.card-header {
    border-bottom: none;
    background-color: transparent;
}

    .card-header h3 {
        color: #dee2e6;
        font-size: 32px;
    }

.card-footer {
    border-top: none;
    background-color: transparent;
}

.form-control {
    height: 45px;
    font-size: 16px;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    font-size: 17px;
}

.remember {
    color: white;
    font-size: 15px;
}

    .remember input {
        width: 18px;
        height: 18px;
        margin-left: 15px;
        margin-right: 5px;
    }

.login_btn {
    margin-top: 20px;
    color: black;
    background-color: #c27e55;
    width: 100%;
    font-size: 17px;
}

    .login_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }

.links {
    color: #b9b7b6;
}

    .links a {
        color: white;
        margin-left: 4px;
    }

