﻿body {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.8) 100%), url(../images/flock-of-birds-917494.jpg);
}

.text-muted {
    color: rgba(194, 127, 93, 0.6) !important;
}

.border-top {
    border-top: 1px solid rgba(194, 127, 93, 0.5) !important;
}

nav.navbar {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0.54rem 0 0;
    border-radius: .2rem; 
    min-width: 100%;
}

#userMenu {
    color: #c27e55;
}

#logout {
    color: rgba(194, 127, 93, 0.9);
}


