﻿.content_flex {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-height: 90vh;
}

#summary ul li {
    list-style-type: none;
    text-align: center;
    position: relative;
    right: 20px;
    font-size: 17px;
}

.col-md-3 {
    width: 200px;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

p {
    margin-bottom: 5px;
    margin-top:5px;
    margin-left: 2px;
    margin-right: 2px;
}

.img-fluid {
    max-width: 100%;
}

.img-thumbnail {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self:self-start;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.caption {
    margin-top: 2px;
    margin-bottom: 0;
    max-width: 100%;
    text-align: center;
}

.text-danger {
    color: #cc6e36 !important;
    font-size: 15px;
}

.links {
    color: #cc6e36;
    font-size: 23px;
}

a.links{
    color: #cc6e36 !important;
}

.add {
    min-width: 100%;
    min-height: 100%;
}

a.btn.add_btn {
    min-width: 100%;
    min-height: 100%;
}

.add_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b9b7b6;
    background-color: transparent;
    font-size: 17px;
}

    .add_btn:hover {
        color: rgba(194, 126, 85, 0.82);
        background-color: transparent;
        border-color: transparent;
    }

.delete2_btn {
    margin-top: 10px;
    color: #f6f6f7;
    background-color: #c27e55;
    font-size: 15px;
    min-width: 100px;
}

    .delete2_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }

.cancel2_btn {
    margin-top: 10px;
    color: #cc6e36;
    background-color: #f6f6f7;
    border-color: #cc6e36;
    font-size: 15px;
    min-width: 100px;
}

    .cancel2_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }

a.delete {
    color: rgba(199, 112, 60, 0.92);
}

a.edit {
    color: rgba(91, 81, 77, 0.68);
}

.alert {
    width: 100%;
    -webkit-animation: 10s 1 zanikanie;
    animation: 6s 1 zanikanie;
    opacity: 0;
    margin-bottom: 0;
    padding-bottom: 1px;
}

@keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.close {
    font-size: 2rem;
}

.modal {
    width: 100%;
    padding-right: 15px;
}

    .modal .modal-dialog {
        min-width: 80vh;
        display: flex;
        justify-content: center;
    }

    .modal .modal-header, .modal .modal-body, .modal .modal-footer {
        padding: 25px 30px;
    }

    .modal .modal-content {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .modal .modal-body {
        font-size: 15px;
    }

    .modal .modal-footer {
        background: #ecf0f1;
        border-radius: 0 0 3px 3px;
        height: 12vh;
    }

    .modal .modal-title {
        display: inline-block;
    }

    .modal .form-control {
        border-radius: 2px;
        box-shadow: none;
        border-color: #dddddd;
    }

    .modal textarea.form-control {
        resize: vertical;
    }

    .modal .btn {
        border-radius: 2px;
        min-width: 100px;
    }

    .modal form label {
        font-weight: normal;
    }
