﻿body {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgb(0, 0, 0) 100%), url(../images/flock-of-birds-917494.jpg);
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    margin-bottom: 0;
}

.container {
    padding: 0 0 0 0;
    max-height: 100%;
}

.pb-3 {
    padding-bottom: 0 !important;
}

.footer {
    display:none;
}

@media only screen and (max-width: 980px) {
    .img-thumbnail {
        max-width: 80%;
        height:auto;
    }
}

@media only screen and (max-width: 750px) {
}

@media only screen and (max-width: 540px) {
}

@media only screen and (max-width: 320px) {
}

.content_flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.col-md-12 {
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

p {
    margin-bottom: 0;
    margin-top:5px;
    margin-left: 2px;
    margin-right: 2px;
    font-size:30px;
}

.img-fluid {
    max-width: 100%;
}

.img-thumbnail {
    margin:auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caption {
    margin-top: 2px;
    margin-bottom: 0;
    max-width: 100%;
    text-align: center;
}

.alert {
    width: 100%;
    -webkit-animation: 10s 1 zanikanie;
    animation: 6s 1 zanikanie;
    opacity: 0;
    margin-bottom: 0;
    padding-bottom: 1px;
}

@keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

