﻿body {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgb(0, 0, 0) 100%), url(../images/flock-of-birds-917494.jpg);
    height: 100vh;
    margin-bottom: 0;
}

.container {
    padding: 0 0 0 0;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pb-3 {
    width:100%;
    height: 100%;
    padding-bottom: 0 !important;
}

.footer {
    display:none;
}

@media only screen and (max-width: 1500px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 540px) {

}

@media only screen and (max-width: 320px) {

}

.content_flex {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mySlides {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin-bottom: 0;
    margin-top:5px;
    margin-left: 2px;
    margin-right: 2px;
    font-size:2vw;
    color: rgba(211, 211, 211, 0.90);
}

.img-fluid {
    max-height: 80vh;
    width: auto;
}

.caption {
    margin-top: 2px;
    margin-bottom: 0;
    max-width: 100%;
    max-height: 18vh;
    text-align: center;
}

.alert {
    width: 100%;
    -webkit-animation: 10s 1 zanikanie;
    animation: 6s 1 zanikanie;
    opacity: 0;
    margin-bottom: 0;
    padding-bottom: 1px;
}

@keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

