﻿.content_flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 90vh;
}

.table-wrapper {
    background-color: #f6f6f7 !important;
    border-radius: 3px 3px 0 0;
    padding-bottom: 15px;
    padding-top: 10px;
    min-width: 100%;
    width: auto;
    margin-top: 2px;
}

.row {
    margin-top: 10px;
    margin-bottom: 15px;
    flex-wrap: nowrap;
}

.links {
    color: #7d7572;
}

.confirm {
    color: #a76740 !important;
}

a.links {
    color: #7d7572 !important;
}

a.links.confirm {
    color: #a76740 !important;
}


a.links .confirm {
    color: #7d7572 !important;
}

.table-title {
    background-color: rgba(91, 81, 77, 0.78) !important;
    border-radius: 3px 3px 0 0;
    color: #f6f6f7;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 80px;
}

    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }

    .table-title .btn {
        color: #fff;
        float: right;
        font-size: 14.5px;
        min-width: 50px;
        outline: none !important;
        margin-left: 10px;
    }

        .table-title .btn i {
            float: left;
            font-size: 21px;
            margin-right: 5px;
        }

        .table-title .btn span {
            float: left;
            margin-top: 2px;
        }

table.table td a.edit {
    color: rgba(91, 81, 77, 0.68);
}

table.table td a.delete {
    color: rgba(199, 112, 60, 0.92);
}

table.table th {
    text-align: center;
}

table.table td {
    text-align: center;
}

.table {
    background-color: #f6f6f7;
    min-width: 100%;
    width: auto;
    position: relative;
    align-content: center;
}
.mb-3 {
    margin-bottom: 1px !important;
}

.alert {
    width: 100%;
    -webkit-animation: 10s 1 zanikanie;
    animation: 6s 1 zanikanie;
    opacity: 0;
    margin-bottom: 0;
    padding-bottom: 1px;
}

@keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes zanikanie {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    70% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

.close {
font-size: 2rem;
}

.modal {
    width: 100%;
    padding-right:15px;
}

.modal .modal-dialog {
    min-width: 80vh;
    display: flex;
    justify-content: center;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 25px 30px;
}

.modal .modal-content {
    width:auto;
    display: flex;
    justify-content: center;
}

.modal .modal-body {
    font-size: 15px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
    height: 12vh;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}

.modal form label {
    font-weight: normal;
}

.btn-group {
    display: flex;
    align-items: end;
}

.add_btn {
    color: rgba(154, 79, 34, 0.86) !important;
    background-color: #f6f6f7;
    border-color: rgba(154, 79, 34, 0.86) !important;
    font-size: 15px;
}

.add_btn:hover {
    color: #0a0909 !important;
    background-color: #a36b49;
    border-color: #a86c47 !important;
    
}

.cancel2_btn {
    margin-top: 10px;
    color: #cc6e36;
    background-color: #f6f6f7;
    border-color: #cc6e36;
    font-size: 15px;
    min-width: 100px;
}

    .cancel2_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }

.delete2_btn {
    margin-top: 10px;
    color: #f6f6f7;
    background-color: #c27e55;
    font-size: 15px;
    min-width: 100px;
}

    .delete2_btn:hover {
        color: #0a0909;
        background-color: #a36b49;
        border-color: #a86c47;
    }

.pagination {
    float: right;
    margin: 0 0 2px;
    padding-right: 30px;
}

    .pagination li a {
        border: none;
        font-size: 14px;
        min-width: 30px;
        min-height: 30px;
        color: #8e7e6e;
        margin: 0 1px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 10px;
    }

        .pagination li a:hover {
            color: #666;
        }

    .pagination li.active a, .pagination li.active a.page-link {
        background: #03A9F4;
    }

        .pagination li.active a:hover {
            background: #0397d6;
        }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

.hint-text {
    float: left;
    padding-left: 30px;
    margin-top: 5px;
    font-size: 14px;
}    
