﻿@inject AppDbContext Context
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model PhotosVM

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/reminder2.css">
<style>
    .mySlides {
        display: none;
    }
</style>

<div class="content_flex">

    @if (Model.PatientPhotos.Count > 0 || Model.CaregiverPhotos.Count > 0)
    {

        <div class="mySlides">
            <div class="caption">
                <p>Zaczynamy :D</p>
            </div>
        </div>
        var i = 0;
        foreach (var image in Model.PatientPhotos)
        {
            i++;
            <div class="mySlides">
                <div class="content">
                    <img src="~/photos/patients/@image.FilePath" class="img-fluid">
                    <div class="caption">
                        <p>@image.Description</p>
                    </div>
                </div>              
            </div>
        }
        <div class="mySlides">
            <div class="caption">
                <p>Informacje!</p>
            </div>
        </div>
        foreach (var image in Model.CaregiverPhotos)
        {
            i++;
            <div class="mySlides">
                <div class="content">
                    <img src="~/photos/caregivers/@image.FilePath" class="img-fluid">
                    <div class="caption">
                        <p>@image.Description</p>
                    </div>
                </div>              
            </div>
        }
        <div class="mySlides">
            <div class="caption">
                <p>Koniec</p>
            </div>
        </div>

    }
    else
    {
        <div class="mySlides">
            <div class="caption">
                <p>Brak zdjęć do wyświetlenia!</p>
            </div>
        </div>
    }
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3000);
    }
</script>

