﻿@inject AppDbContext Context
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model ManyPatientPhotosVM

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/reminder2.css">
<style>
    .mySlides {
        display: none;
    }
</style>

<div class="content_flex">
    @if (@Model.PatientPhotos.Any() || Model.CaregiverPhotos.Any())
    {
        <div class="mySlides" onclick="">
            <div class="caption">
                <p>@Model.Title</p>
            </div>
        </div>
        var names = @Model.PatientName.ToArray();
        var n = 0;
        var i = 0;
        foreach (var photo in Model.PatientPhotos)
        {
            <div class="mySlides">
                <div class="caption">
                    <p>@names[n]</p>
                </div>
            </div>
            n++;

            foreach (var image in photo)
            {
                i++;
                <div class="mySlides">
                    <div class="content">
                        <img src="~/photos/patients/@image.FilePath" class="img-fluid">
                        <div class="caption">
                            <p>@image.Description</p>
                        </div>
                    </div>
                </div>
            }
        }

        @if (Model.CaregiverPhotos.Count > 0)
        {
            <div class="mySlides">
                <div class="caption">
                    <p>Informacje ogólne!</p>
                </div>
            </div>
            foreach (var image in Model.CaregiverPhotos)
            {
                i++;
                <div class="mySlides">
                    <div class="content">
                        <img src="~/photos/caregivers/@image.FilePath" class="img-fluid">
                        <div class="caption">
                            <p>@image.Description</p>
                        </div>
                    </div>                   
                </div>
            }
        }
        <div class="mySlides">
            <div class="caption">
                <p>Koniec</p>
            </div>
        </div>
    }
    else
    {
    <div class="mySlides">
        <div class="caption">
            <p>Brak zdjęć do wyświetlenia!</p>
        </div>
    </div>
    }
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000);
    }
</script>

