﻿@inject AppDbContext Context
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model PhotoVM

@section navbar_Patient {
    <section class="navbar_Patient">
        @Html.Partial("_Navbar_Patient")
    </section>
}

<link rel="stylesheet" href="~/css/create_user10.css" />

<div class="content_flex">

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3><strong>Dodaj zdjęcie</strong></h3>
                <button onclick="window.location.href='Photos?userId=@UserManager.GetUserId(User)'" type="button" class="close">&times;</button>
            </div>
            <div class="card-body">
                <form asp-route-userId="@UserManager.GetUserId(User)" asp-action="AddPhoto" asp-controller="Home" class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                    <div asp-validation-summary="ModelOnly" id="summary" class="text-danger"></div>
                    <div class="form-group">
                        <input type="file" name="FormFile" id="FormFile" accept="image/jpeg,image/jp2,image/gif,image/tiff,image/png">
                        <span asp-validation-for="FormFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group btn-group">
                        <input type="submit" value="Dodaj" class="btn create_btn">
                        <input type="reset" class="btn cancel_btn" value="Wyczyść">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>