﻿@inject UserManager<User> UserManager
@inject AppDbContext Context

@section navbar_Patient {
    <section class="navbar_Patient">
        @Html.Partial("_Navbar_Patient")
    </section>
}

<link rel="stylesheet" href="~/css/index_caregiver2.css" />

<div class="content_flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-12" id="header"><h3><strong>INFORMACJE</strong></h3></div>
        </div>
        <div class="row">
            <div class="col col-md-10" id="subheader"><h5>Dane osobowe</h5></div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Imię:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @Context.Patients.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).FirstName
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Nazwisko:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @Context.Patients.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).LastName
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Data urodzenia:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @Html.DisplayFor(modelItem => @Context.Patients.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).Date_of_birth)
            </div>
        </div>
        <div class="row">
            <div class="col col-md-10" id="subheader"><h5>Kontakt</h5></div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Email:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @Context.Patients.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).Email
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Numer telefonu:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @Context.Patients.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).PhoneNumber
            </div>
        </div>
        <div class="row">
            <div class="col col-md-10" id="subheader"><h5></h5></div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <h6>Numer pokoju:</h6>
            </div>
            <div class="col col-md-6" id="inf">
                @Html.DisplayFor(modelItem => @Context.Patients.FirstOrDefault(c => c.UserId == UserManager.GetUserId(User)).RoomNumber)
            </div>
        </div>
    </div>

</div>
