﻿@inject AppDbContext Context
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model PatientPhotosVM

@section navbar_Patient {
    <section class="navbar_Patient">
        @Html.Partial("_Navbar_Patient")
    </section>
}

<link rel="stylesheet" href="~/css/photos5.css" />

<div class="content_flex">
    <div class="container-fluid">
        @if (Model.Photos.Count > 0)
        {
            var i = 0;
            foreach (var image in Model.Photos)
            {
                i++;
                var delete = "DeletePhoto" + @i.ToString();
                var edit = "EditPhoto" + @i.ToString();
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <div class="d-flex justify-content-end align-content-center">
                            <form asp-controller="Home" asp-action="DeletePhoto" asp-route-photoId="@Context.PatientPhotos.FirstOrDefault(p=>p.Id==image.Id).Id" method="post">
                                <a href="#@edit" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Edytuj">&#xE254;</i></a>
                                <div id="@edit" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edycja zdjęcia</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label asp-for="PhotoVM.Description" class="control-label"></label>
                                                    <input asp-for="PhotoVM.Description" class="form-control" placeholder="@image.Description">
                                                    <span asp-validation-for="PhotoVM.Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-group btn-group">
                                                    <button asp-action="UpdatePhoto" asp-route-photoId="@Context.PatientPhotos.FirstOrDefault(p=>p.Id==image.Id).Id" formmethod="post" type="submit" class="btn delete2_btn">Edytuj</button>
                                                    <input type="button" class="btn cancel2_btn" data-dismiss="modal" value="Anuluj">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#@delete" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Usuń">&#xE872;</i></a>
                                <div id="@delete" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Usunięcie zdjęcia</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Czy jesteś pewny, że chcesz usunąć wybrane zdjęcie?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-group btn-group">
                                                    <button asp-action="DeletePhoto" asp-route-photoId="@Context.PatientPhotos.FirstOrDefault(p=>p.Id==image.Id).Id" formmethod="post" type="submit" class="btn delete2_btn">Usuń</button>
                                                    <input type="button" class="btn cancel2_btn" data-dismiss="modal" value="Anuluj">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <a href="~/photos/patients/@image.FilePath">
                            <img src="~/photos/patients/@image.FilePath" class="img-fluid">
                        </a>
                        <div class="caption">
                            @if (image.Description != null)
                            {
                                <p>@image.Description</p>
                            }
                            else
                            {
                                <p>Dodaj opis zdjęcia!</p>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        <div class="col-md-3">
            <div class="img-thumbnail">
                <a class="btn add_btn" asp-controller="Home" asp-action="AddPhoto"><i class="material-icons">&#xE147;</i><span>Dodaj zdjęcie</span></a>
            </div>
        </div>
    </div>
</div>