﻿@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject AppDbContext Context
<link rel="stylesheet" href="~/css/navbar3.css" />

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand">
            <strong>
                Witaj adminie!
            </strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item active">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Caregivers">Opiekunowie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Patients">Pacjenci</a>
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Context.Users.FirstOrDefault(c => c.Id == UserManager.GetUserId(User)).UserName
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userMenu">
                            <a class="dropdown-item" asp-controller="Admin" asp-action="Update" asp-route-userId="@UserManager.GetUserId(User)">Profil</a>
                            <div class="dropdown-divider"></div>
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()" id="logout">Wyloguj</a>
                            </form>

                        </div>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>